$progress-dot-size-active: 30px;
$progress-bar-scale-active: 2;
$progress-bar-height-inactive: 10px;
$progress-interactive-area: 16px;
$progress-color: #DB4437;
$progress-dot-color: #F4B400;
$progress-hover-color: #0F9D58;
$progress-all-color: white;

@mixin no-select() {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;   
}

@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin progress-dot-active() {
    top: 50%;
    width: $progress-dot-size-active;
    height: $progress-dot-size-active;
    transform: translateY(-50%) translateX(-50%);
    background-color: $progress-dot-color;
}

@mixin progress-bar-active() {
    transform: scaleY($progress-bar-scale-active);
}

@mixin disable() {
    pointer-events: none;
    opacity: 0.4;
}

#interactive {
    touch-action: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $progress-interactive-area;
    cursor: pointer;
    box-sizing: border-box;
    outline: 0.5px solid white;

    @include no-select;

    #progress-bar {
        pointer-events: none;
        width: 100%;
        position: relative;
    }

    &.animate {
        #progress-bar-list {
            #played {
            transition: 0.2s ease-out width;
        }
    }
    }

    #progress-bar-list {
        height: $progress-bar-height-inactive;
        width: 100%;
        transition: 0.2s ease-out transform;
        position: relative;
        pointer-events: none;

        #all {
            position: absolute;
            height: 100%;
            opacity: 0.2;
            background-color: $progress-all-color;
            z-index: 1;
            pointer-events: none;
        }

        #hovered {
            position: absolute;
            height: 100%;
            z-index: 2;
            opacity: 0.4;
            background: $progress-hover-color;
            pointer-events: none;
        }

        #played {
            position: absolute;
            height: 100%;
            background: $progress-color;
            z-index: 3;
            transition: none;
            pointer-events: none;
        }

        .mark{
            width: 1px;
            height: 100%;
            background-color: chartreuse;
            position: absolute;
            z-index: 3;
        }
    }

    #progress-dot {
        touch-action: none;
        pointer-events: none;
        width: 0px;
        height: 0px;
        position: absolute;
        border-radius: 50%;
        top: 50%;
        z-index: 4;
        background-color: $progress-color;
        @include no-select;
        transform: translateY(-50%) translateX(-50%);
        transition: 0.2s ease-out transform, 0.2s ease-out width, 0.2s ease-out height, 0.2s ease-out box-shadow;
    }

    &.animate {
        #progress-dot {
            transition: 0.2s ease-out transform, 0.2s ease-out width, 0.2s ease-out height, 0.2s ease-out box-shadow, 0.2s ease-out left;
        }
    }

    &.focused {
        #progress-dot{
            box-shadow: rgba(0, 127, 255, 0.36) 0px 0px 0px 8px
        }
    }

    &.focused,
    &.dragging,
    &.hovering {
        #progress-dot {
            @include progress-dot-active;
        }

        #progress-bar-list {
            @include progress-bar-active;
        }
    }

    &.disable {
        @include disable();
    }
}

#interactive.touch {
    touch-action: none;
    #progress-bar-list {
        #hovered {
            display: none;
        }
    }

    #progress-dot {
        @include progress-dot-active;
    }

    &.focused {
        #progress-dot{
            box-shadow: none;
        }
    }

    &.dragging {
        #progress-dot{
            box-shadow: rgba(0, 127, 255, 0.36) 0px 0px 0px 8px
        }
    }

    &.focused,
    &.dragging,
    &.hovering {
        #progress-bar-list {
            height: $progress-bar-height-inactive;
            transform: none;
        }
    }
}