.App {
	text-align: center;
	height: 100%;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	height: 20%;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#progress-container {
	width: 500px;
	background: #312f2f;
}

main {
	height: 100%;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#info{
	margin: 30px;
	color: white;
}

#progress-container{
	background: #000000;
	outline: none;
}

#debug {
	color: white;
	position: absolute;
    left: 0;
    TOP: 0;
    padding: 10px;
}
*{
	outline: 0;
	border: 0;
	margin: 0;
}