.App {
	text-align: center;
	height: 100%;
}


@media (prefers-reduced-motion: no-preference) {

}


#progress-container {
	width: 500px;
	background: #312f2f;
}

@media(max-width: 550px) {
	#progress-container{
		width: calc( 100% - 50px );
	}
	#progress-controls-container{
		width: calc( 100% - 50px );
	}	
}

main {
	height: 100%;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#info {
	margin: 30px;
	color: white;
}

#debug {
	color: white;
	position: absolute;
	left: 0;
	top: 0;
	padding: 10px;
	pointer-events: none;
}
* {
	outline: 0;
	border: 0;
	margin: 0;
}
#progress-controls-container{
	width: 100%;
	text-align: center;
}	

button {
	width: 100px;
	height: 20px;
}